@page 
@model  IEnumerable<LapTopShop.Models.Order>
@{
    @* ViewData["Title"] = "Index"; *@
    int index = 0;
}

@* <h1>@ViewData["Title"]</h1> *@

<div class="container-app">
            <div class="header">
                <div class="box-left">
                    <div class="change-size">
                        <!-- fullsize -->
                        <i class="fa-solid fa-expand"></i> 

                        <!-- minsize -->
                        <!-- <i class="fa-solid fa-compress"></i> -->

                    </div>
                    <div class="search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>

                <div class="box-right">
                    <div class="bell">
                        <i class="fa-regular fa-bell"></i>
                        <span>5</span>
                    </div>

                    <div class="user">
                        <div class="name">
                            Trần Tân
                        </div>

                        <div class="avatar">
                            <img src="https://demos.pixinvent.com/modern-html-admin-template/app-assets/images/portrait/small/avatar-s-19.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <table class="table rounded">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Mã đơn hàng</th>
                            <th scope="col">Tên người nhận</th>
                            <th scope="col">Số điện thoại</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Giá tiền</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col"></th>

                        </tr>
                    </thead>
                    <tbody>
                        @* if(@Model == null){
                            <h1>hello</h1>
                        } *@
                         @if (ViewBag.Orders != null){
                            @foreach(var item in ViewBag.Orders){
                                <tr>
                                    <th scope="row">@(++index)</th>
                                    <td>@item.Code</td>
                                    <td>@item.Receiver</td>
                                    <td>@item.Phone</td>
                                    <td>@item.Address</td>
                                    <td>@item.TotalPrice.ToString("N0")₫</td>
                                    <td>@item.State</td>
                                    <td>
                                        @if(@item.State == "pending"){
                                            <a class="btn btn-primary btn-sm" asp-action="Accept" asp-route-id="@item.Id">
                                                Xác nhận
                                            </a>
                                        }else{
                                            <button class="btn btn-secondary btn-sm">
                                                Xác nhận
                                            </button>
                                        }
                                        <a class="btn btn-success btn-sm">
                                            Xem
                                        </a>
                                        @if(@item.State == "canceled" || @item.State == "shipping" || @item.State == "success"){
                                            <a class="ml-3 btn btn-secondary btn-sm" asp-action="Canecled" asp-route-id="@item.Id">
                                                Hủy
                                            </a>
                                        }else{
                                                <a class="ml-3 btn btn-danger btn-sm" asp-action="Canecled" asp-route-id="@item.Id">
                                                    Hủy
                                                </a>
                                            
                                        }
                                    </td>
                                </tr>
                            }
                        } 

                       
                    </tbody>
                </table>
            </div>
</div>