@model LapTopShop.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Trang Chủ";
}

<div class="body">
            
                
    <div class="contentApp">
        <div class="route">
                    <div><i class="fa-solid fa-house"></i></div>
                    <div>/</div>
                    <div>Laptop Mới</div>

                </div>
        <div class="category-body">
                    <!-- <div class="title">
                        <div class="title-left">
                            <i class="fa-solid fa-qrcode"></i>
                            <span>
                                Top Danh Mục
                            </span>
                        </div>
                    </div> -->
                    <div class="banner">
                        <img src="https://www.mayxachtay.vn/uploads/2023/05/Asus-TUF.jpg" alt="">
                        <img src="https://www.mayxachtay.vn/uploads/2023/05/Lenovo-Gaming.jpg" alt="">
                        <img src="https://www.mayxachtay.vn/uploads/2023/05/Dell-Gaming.jpg" alt="">
                        <img src="https://www.mayxachtay.vn/uploads/2023/05/Acer-Gaming.jpg" alt="">
                    </div>

                    <div class="list-cate">
                        <div class="cate">
                            <div class="img">
                                <img src="https://cdn.tgdd.vn/Brand/1/logo-hp-149x40-1.png" alt="">
                            </div>
                        </div>
                        <div class="cate">
                            <div class="img">
                                <img src="https://cdn.tgdd.vn/Brand/1/logo-asus-149x40.png" alt="">
                            </div>
                        </div>
                        <div class="cate">
                            <div class="img">
                                <img src="https://cdn.tgdd.vn/Brand/1/logo-lenovo-149x40.png" alt="">
                            </div>
                        </div>
                        <div class="cate">
                            <div class="img">
                                <img src="https://cdn.tgdd.vn/Brand/1/logo-acer-149x40.png" alt="">
                            </div>
                        </div>
                        <div class="cate">
                            <div class="img">
                                <img src="https://cdn.tgdd.vn/Brand/1/logo-dell-149x40.png" alt="">
                            </div>
                        </div>
                        <div class="cate">
                            <div class="img">
                                <img src="https://cdn.tgdd.vn/Brand/1/logo-msi-149x40.png" alt="">
                            </div>
                        </div>
                        <div class="cate">
                            <div class="img">
                                <img src="https://cdn.tgdd.vn/Brand/1/logo-macbook-149x40.png" alt="">
                            </div>
                        </div>
                        <div class="cate">
                            <div class="img">
                                <img src="https://cdn.tgdd.vn/Brand/1/logo-itel-149x40.png" alt="">
                            </div>
                        </div>
                        <div class="cate">
                            <div class="img">
                                <img src="https://cdn.tgdd.vn/Brand/1/logo-gigabyte-149x40.png" alt="">
                            </div>
                        </div>
                        <div class="cate">
                            <div class="img">
                                <img src="https://cdn.tgdd.vn/Brand/1/logo-surface-149x40-1.png" alt="">
                            </div>
                        </div>
                        <div class="cate">
                            <div class="img">
                                <img src="https://cdn.tgdd.vn/Brand/1/Masstel42-b0-200x48-1.png" alt="">
                            </div>
                        </div>
                        <div class="cate">
                            <div class="img">
                                <img src="https://cdn.tgdd.vn/Brand/1/logo-lg-149x40.png" alt="">
                            </div>
                        </div>
                        <div class="cate">
                            <div class="img">
                                <img src="https://cdn.tgdd.vn/Brand/1/logo-singpc-149x40-1.jpg" alt="">
                            </div>
                        </div>
                    </div>

                </div>

                <!-- van phong -->
                <div class="van-phong">

                    <div class="title-box-product-top">
                        <div class="title-left">
                            
                            <span>
                                Học Tập Văn Phòng
                            </span>
                        </div>

                        <div class="title-right">
                            <span>
                                Xem thêm
                            </span>

                            <i class="fa-solid fa-caret-right"></i>
                        </div>
                    </div>
                    
                    <div class="box-product">
                        @foreach (var item in Model.OfficeLaptops)
                        {
                            <a asp-action="Index" asp-route-id="@item.Id" asp-controller="Detail" class="cardProduct">
                                <div class="img">
                                    <img src="@item.Avatar" alt="">
                                </div>
        
                                <div class="description">
                                    <div class="name">
                                        <h6>@item.ProductName</h6>
                                    </div>
            
                                    <div class="sortDes">
                                            <div class="ram">
                                                @item.Ram
                                            </div>
                                            <div class="storage">
                                                @item.HardDrive
                                            </div>

                                            <div class="is-new">
                                                @item.Status
                                            </div>

                                        </div>
                                    <div class="desBottom">
                                        
                                        <div class="price">
                                            <div class="old-price">
                                                @item.OldPrice.ToString("N0")₫
                                            </div>
                                            <div class="curent-price">
                                                @item.Price.ToString("N0")₫
                                            </div>
                                        </div>

                                        <div class="add-to-cart">
                                            <i class="fa-solid fa-plus"></i>
                                        </div>
                                    </div>
                                </div>
    
    
                            </a>
                        }
                       
                    </div>

                </div>

                <!-- van phong -->
                <div class="gaming">

                    <div class="title-box-product-top">
                        <div class="title-left">
                            
                            <span>
                                Laptop Gaming
                            </span>
                        </div>

                        <div class="title-right">
                            <span>
                                Xem thêm
                            </span>

                            <i class="fa-solid fa-caret-right"></i>
                        </div>
                    </div>
                    
                    <div class="box-product">
                        @foreach (var item in Model.GamingLaptops)
                        {
                            <a asp-action="Index" asp-route-id="@item.Id" asp-controller="Detail" class="cardProduct">
                                <div class="img">
                                    <img src="@item.Avatar" alt="">
                                </div>
        
                                <div class="description">
                                    <div class="name">
                                        <h6>@item.ProductName</h6>
                                    </div>
            
                                    <div class="sortDes">
                                            <div class="ram">
                                                @item.Ram
                                            </div>
                                            <div class="storage">
                                                @item.HardDrive
                                            </div>

                                            <div class="is-new">
                                                @item.Status
                                            </div>

                                        </div>
                                    <div class="desBottom">
                                        
                                        <div class="price">
                                            <div class="old-price">
                                                @item.OldPrice.ToString("N0")₫
                                            </div>
                                            <div class="curent-price">
                                                @item.Price.ToString("N0")₫
                                            </div>
                                        </div>

                                        <div class="add-to-cart">
                                            <i class="fa-solid fa-plus"></i>
                                        </div>
                                    </div>
                                </div>
    
    
                            </a>
                        }
                       
                    </div>

                </div>

                <!-- do hoa -->
                <div class="do-hoa">

                    <div class="title-box-product-top">
                        <div class="title-left">
                            
                            <span>
                                Laptop Đồ Họa
                            </span>
                        </div>

                        <div class="title-right">
                            <span>
                                Xem thêm
                            </span>

                            <i class="fa-solid fa-caret-right"></i>
                        </div>
                    </div>
                    
                    <div class="box-product">
                        @foreach (var item in Model.GraphicsLaptops)
                        {
                            <a asp-action="Index" asp-route-id="@item.Id" asp-controller="Detail" class="cardProduct">
                                <div class="img">
                                    <img src="@item.Avatar" alt="">
                                </div>
        
                                <div class="description">
                                    <div class="name">
                                        <h6>@item.ProductName</h6>
                                    </div>
            
                                    <div class="sortDes">
                                            <div class="ram">
                                                @item.Ram
                                            </div>
                                            <div class="storage">
                                                @item.HardDrive
                                            </div>

                                            <div class="is-new">
                                                @item.Status
                                            </div>

                                        </div>
                                    <div class="desBottom">
                                        
                                        <div class="price">
                                            <div class="old-price">
                                                @item.OldPrice.ToString("N0")₫
                                            </div>
                                            <div class="curent-price">
                                                @item.Price.ToString("N0")₫
                                            </div>
                                        </div>

                                        <div class="add-to-cart">
                                            <i class="fa-solid fa-plus"></i>
                                        </div>
                                    </div>
                                </div>
    
    
                            </a>
                        }
                    
                    </div>

                </div>

                <div class="danh-cho-ban">

                    <div class="title-box-product-top">
                        <div class="title-left">
                            
                            <span>
                                Dành Cho Bạn
                            </span>
                        </div>

                        <div class="title-right">
                            <span>
                                Xem thêm
                            </span>

                            <i class="fa-solid fa-caret-right"></i>
                        </div>
                    </div>
                    
                    <div class="box-product">
                        @foreach (var item in Model.LaptopForYou)
                        {
                            <a asp-action="Index" asp-route-id="@item.Id" asp-controller="Detail" class="cardProduct">
                                <div class="img">
                                    <img src="@item.Avatar" alt="">
                                </div>
        
                                <div class="description">
                                    <div class="name">
                                        <h6>@item.ProductName</h6>
                                    </div>
            
                                    <div class="sortDes">
                                            <div class="ram">
                                                @item.Ram
                                            </div>
                                            <div class="storage">
                                                @item.HardDrive
                                            </div>

                                            <div class="is-new">
                                                @item.Status
                                            </div>

                                        </div>
                                    <div class="desBottom">
                                        
                                        <div class="price">
                                            <div class="old-price">
                                                @item.OldPrice.ToString("N0")₫
                                            </div>
                                            <div class="curent-price">
                                                @item.Price.ToString("N0")₫
                                            </div>
                                        </div>

                                        <div class="add-to-cart">
                                            <i class="fa-solid fa-plus"></i>
                                        </div>
                                    </div>
                                </div>
    
    
                            </a>
                        }
                        
                    </div>

                </div>


                <!-- slogan -->
                <div class="slogan">

                </div>
    </div>
                <!-- category -->
                





              
        </div>
