@model LapTopShop.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OldPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OldPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Avatar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CpuTechnology)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CpuTechnology)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kernel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kernel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Threads)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Threads)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessorSpeedCPU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessorSpeedCPU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Caching)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Caching)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeRAM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeRAM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RAMBusSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RAMBusSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxRam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxRam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HardDrive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HardDrive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenResolution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenResolution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScanFrequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScanFrequency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenTechnology)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenTechnology)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraphicCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraphicCard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AudioTechnology)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AudioTechnology)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Connector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Connector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WirelessConnectivity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WirelessConnectivity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Webcam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Webcam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KeyboardLight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KeyboardLight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Battery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Battery)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Os)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Os)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Article)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Article)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
