@model IEnumerable<LapTopShop.Models.Product>

@{
    ViewData["Title"] = "Index";
    int index = 0;
}

<div class="container-app">
            <div class="header">
                <div class="box-left">
                    <div class="change-size">
                        <!-- fullsize -->
                        <i class="fa-solid fa-expand"></i> 

                        <!-- minsize -->
                        <!-- <i class="fa-solid fa-compress"></i> -->

                    </div>
                    <div class="search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>

                <div class="box-right">
                    <div class="bell">
                        <i class="fa-regular fa-bell"></i>
                        <span>5</span>
                    </div>

                    <div class="user">
                        <div class="name">
                            Trần Tân
                        </div>

                        <div class="avatar">
                            <img src="https://demos.pixinvent.com/modern-html-admin-template/app-assets/images/portrait/small/avatar-s-19.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="product-manage-page">
                    <div class="title-top">
                        <div class="title-left">
                            <i class="fa-solid fa-list"></i>
                            <span>Sản Phẩm</span>
                        </div>

                        <div class="title-right">
                            <a asp-action="Create"><button class="btn-admin-common">Thêm Sản Phẩm Mới</button></a>
                        </div>
                    </div>

                    <div class="product-content">
                        <div class="row-header row-item">
                            <div class="stt">
                                STT
                            </div>
                            <div class="img">
                                Ảnh
                            </div>
                            <div class="name">
                                Tên Sản Phẩm
                            </div>

                            <div class="price">
                                Giá Bán
                            </div>

                            <div class="sold">
                                Đã Bán
                            </div>

                            <div class="quanti">
                                Tồn Kho
                            </div>

                            <div class="action">

                            </div>


                        </div>

                     @if (ViewBag.Product != null){
                            @foreach(var item in ViewBag.Product){
                                <div class="row-body row-item">
                                    <div class="stt">
                                        @(++index)
                                    </div>
                                    <div class="img">
                                        <img src="@item.Avatar" alt="">
                                    </div>
                                    <div class="name">
                                        @item.ProductName
                                    </div>

                                    <div class="price">
                                        @item.Price.ToString("N0")₫
                                    </div>

                                    <div class="sold">
                                        4k9
                                    </div>

                                    <div class="quanti">
                                        @item.Quantity
                                    </div>

                                    <div class="action">
                                        <a href="">
                                            <a class="edit" asp-action="Edit" asp-route-id="@item.Id">Sửa</a>
                                        </a>

                                        <button class="delete" data-bs-toggle="modal" data-bs-target="#ModalDelete" asp-action="Delete" asp-route-id="@item.Id">
                                            Xóa
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="ModalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Thông Báo !</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Bạn chắc chắn muốn xóa sản phẩm ?
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Xóa</button>
                                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Hủy</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }}
                        

                        

                       

                        
                        
                    </div>

                    <div class="pagination-box">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" href="#">4</a></li>
                              <li class="page-item"><a class="page-link" href="#">5</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                </a>
                              </li>
                            </ul>
                          </nav>
                    </div>

                </div>
            </div>
        </div>